doctype html
html(lang="en")
    include ../partials/head
    body
        include ../partials/header
        section
            .flex
              .g1-flex4.g2-flex6.g3-flex12
                h1.alpha.center.alt Voyager 1
              .g1-flex4.g2-flex6.g3-flex6.push
                img.voyager.display(src="/public/img/voyager.png")
              .g1-flex4.g2-flex6.g3-flex6
                .g1-flex4.g2-flex3.g3-flex6.flex-nested
                  h2.gamma Distance from Earth
                  p.fade-text.large#voy1_km
                  p.fade-text.large#voy1_au
                .g1-flex4.g2-flex3.g3-flex6.flex-nested
                  h2.gamma Distance from the Sun
                  p.fade-text.large#voy1_kms
                  p.fade-text.large#voy1_aus


        include ../partials/cards

        include ../partials/foot
