section.cards
  article.card.card-voyager
    a(href="/voyager")
      h1.zeta.center Voyager 1
      img.voyager(src="/public/img/voyager.png")
      span launch
  article.card.card-horizons
    a(href="/newhorizons")
      h1.zeta.center New Horizons
      img.new-horizons(src="/public/img/new-horizons.png")
      span launch
  article.card.card-dawn
    a(href="/dawn")
      h1.zeta.center Dawn
      img.dawn(src="/public/img/dawn.png")
      span launch
  article.card.card-odyssey
    a(href="/odyssey")
      h1.zeta.center Odyssey
      img.odyssey(src="/public/img/odyssey.png")
      span launch
  article.card.card-cassini
    a(href="/cassini")
      h1.zeta.center Cassini
      img.cassini(src="/public/img/cassini.png")
      span launch
