
//- footer(role="contentinfo")
//-     div.flex.footer-nav
//-         div.g1-flex4.g2-flex8.g3-flex12
//-             p.epsilon.center
//-                 a.alt2(href="") Work
//-                 span.bolt-spacer
//-                 a.alt2(href="") Log Book
//-                 span.bolt-spacer
//-                 a.alt2(href="") Agency
//-                 span.bolt-spacer
//-                 a.alt2(href="") Hire Us
//-     div.flex
//-         div.g1-flex4.g2-flex8.g3-flex12
//-             p.epsilon.center &copy; Copyright 2014 Sputnik
//-                  span.bolt-spacer
//-                  | Made in Austin, Texas
            