head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')

    title Stellar Spacecraft
    meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
    meta(name="keywords", content="Stellar Spacecraft")
    meta(name="description", content="Stellar Spacecraft")

    link(href='favicon.ico', rel='shortcut icon', type='image/x-icon')
    link(rel='stylesheet', href='../public/css/master.css?1')
  
    script(type="text/javascript", src="//use.typekit.net/dxc5gpv.js")
    script(type="text/javascript") try{Typekit.load();}catch(e){}