html {
  font-size: 83%;
}
body {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.3;
  color: $color-2;
}
strong {
  font-weight: 900;
}
em {
  font-style: italic;
}
.center {
  text-align: center;
}
// Print headings font sizes
@each $font-size in $font-size-list {
  $i: index($font-size-list, $font-size);
  .#{nth($font-heading-class-list, $i)} {
    @include font-size(nth($font-size-list, $i));
  }
}
h1,h2,h3,h4,h5,h6 {
  font-family: $font-tertiary;
  margin-bottom: 20px;
  font-weight: 400;
  color: $color-3;
}
h1 {
  color: $color-3;
  font-weight: 400;
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;

  .stack {
    margin-top: 10px;
  }
}
h2 {
  color: $color-9;
  text-transform: uppercase;

  &.alt {
    font-family: $font-primary;
    letter-spacing: 4px;
  }
}
h3 {
  font-family: $font-secondary;
  color: $color-1;

  &.alt {
    text-transform: uppercase;
    letter-spacing: 4px;
  }
}
h4 {
  margin-top: 30px;
  margin-bottom: 20px;
  color: $color-1;
  font-weight: $font-weight-bold;
}
p, ul, pre {
  @include font-size(18);

  &.small {
    @include font-size(12);

    &.white {
      color: #fff;
    }
    &.push {
      float: right;
    }
  }
  &.large {
    @include font-size(18);
  }
}
ul {
  list-style-type: none;

  &.horz-list {
    @include clearfix;
    font-weight: 400;
    list-style-type: none;

    li {
      float: left;
    }
    li a {
      display: block;
      float: left;
    }
  }
  li {
    &.push {
      float: right;
      margin-right: 0;
    }
  }
  &.horz-buttons {
    @include clearfix;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    padding-top: 20px;

    li {
      display: inline;
      text-align: center;

      @media all and (min-width: $mq3/$base+em) {
        margin: 0 25px;
        overflow: visible;
      }

      &:first-child a {
        margin-bottom: 10px;

        @media all and (min-width: $mq2/$base+em) {
          margin-bottom: 0;
        }
      }
    }
  }
  &.prev-next-buttons {
    @extend .horz-buttons;
    margin-top: 40px;
    padding-bottom: 40px;

    li {

      a.btn {
        padding: 17px 12px 14px 15px;
      }
      @media all and (min-width: $mq3/$base+em) {
        margin: 0 10px;
        overflow: visible;

        a.btn {
          padding: 17px 30px 14px 32px;
        }
      }

      &:first-child a {
        margin-bottom: 0px;

        @media all and (min-width: $mq2/$base+em) {
          margin-bottom: 0;
        }
      }
    }
  }
  &.alt {
    font-family: $font-secondary;
    li:first-child a {
      width: 50px;
    }
    a {
      color: white;
      color: rgba(255,255,255,.6);
      @include font-size(30);
      padding: 5px 15px;

      &.ss-icon {
        padding: 10px 10px 0px;
      }
      &.ss-businessuser {
        padding-right: 35px;
        position: relative;

        &:after {
          @include transition(all, .3s);
          @include font-size(26);
          position: absolute;
          top: 8px;
          color: rgba(255,255,255,.6);
          margin-left: 7px;
          margin-top: 2px;
        }
      }
      &:hover {
        cursor: pointer;
      }
      &.active {
        color: white;

        &.ss-businessuser {

          &:after {
            color: white;
          }
        }
      }
    }
    li.active a {
      color: white;
    }
  }
}
[role="main"] {
  p, ul, dl, pre, blockquote {
    line-height: 1.5;
    margin-bottom: 28px;
    margin-bottom: 28/$base+rem;

    &.alt {
      font-weight: 400;
      margin-bottom: 10px;
      margin-bottom: 10/$base+rem;
    }
  }
  li {
    margin-bottom: 18px;
    margin-bottom: 18/$base+rem;
  }
  ul.bullets {
    margin-left: ($gutter*5)+px;
    padding-right: ($gutter*2)+px;
    list-style-type: disc;
    margin-top: 0;
    li {
      margin-bottom: 4px;
    }
  }
  p.intro {
    color: $color-4;
    line-height: 1.35;
    font-family: $font-secondary;
    text-align: center;
    margin-top: $gutter+px;
    margin-bottom: $gutter*5+px;
  }
  p.alt2 {
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
  }
  p.more-link {
    color: $color-1;
    text-transform: uppercase;
    @include font-size(12);
    font-family: $font-secondary;
  }
}
pre {
  @include font-size(22);
}
blockquote {
  font-style: italic;
  color: $color-9;
  @include font-size(30);
  font-weight: 300;
  padding-left: 40px;
  border-left: 5px solid $color-2;
}
@media all and (min-width: $mq2/$base+em) {
  html {
    font-size: 94%;
  }
  // Print headings font sizes
  @each $med-font-size in $med-font-size-list {
    $i: index($med-font-size-list, $med-font-size);
    .#{nth($font-heading-class-list, $i)} {
      @include font-size(nth($med-font-size-list, $i));
    }
  }
}
@media all and (min-width: $mq3/$base+em) {
  html {
    font-size: 100%;
  }
  // Print headings font sizes
  @each $lg-font-size in $lg-font-size-list {
    $i: index($lg-font-size-list, $lg-font-size);
    .#{nth($font-heading-class-list, $i)} {
      @include font-size(nth($lg-font-size-list, $i));
    }
  }
}
